{% extends 'mysite/base.html' %}

{% block nav_active_main %}active{% endblock %}

{% block content %}
<style type="text/css">
	.carousel-inner {
		max-height: 30em;
	}
	.carousel-inner img {    		
		width: 100%;
		height: 100%;
	}
	
	.carousel-caption {
		opacity: 0.5;
		background-color: #000;
        position: absolute;
        top: 30%;
    	text-shadow: 2px 2px 10px #000;
	}
	
</style>
	<div class="carousel slide" data-bs-ride="carousel" id="slides">
		<ul class="carousel-indicators">
			<button type="button" data-bs-target="#slides" data-bs-slide-to="0" class="active"></button>
			<button type="button" data-bs-target="#slides" data-bs-slide-to="1" ></button>
			<button type="button" data-bs-target="#slides" data-bs-slide-to="2" ></button>
		</ul>

		<div class="carousel-inner">

			<div class="carousel-item active">
				<img src="../static/img1.jpg" alt="Nardi">
				<div class="carousel-caption">
					<h1 class="display-2">Lorem ipsum dolor</h1>
					<h3>Lorem ipsum dolor sit amet</h3>
					
				</div>
			</div>

			<div class="carousel-item">
				<img src="../static/img2.jpg" alt="shkatulki">
				<div class="carousel-caption">
					<h1 class="display-2">Lorem ipsum dolor</h1>
					<h3>Lorem ipsum dolor sit amet</h3>
					
				</div>
			</div>

			<div class="carousel-item">
				<img src="../static/img3.jpg" alt="nums">
				<div class="carousel-caption">
					<h1 class="display-2">Lorem ipsum dolor</h1>
					<h3>Lorem ipsum dolor sit amet</h3>
					
				</div>
			</div>
		</div>
		

		<button class="carousel-control-prev" type="button" data-bs-target="#slides" data-bs-slide="prev">
    	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
    	<span class="visually-hidden">Previous</span>
  		</button>
  		<button class="carousel-control-next" type="button" data-bs-target="#slides" data-bs-slide="next">
    	<span class="carousel-control-next-icon" aria-hidden="true"></span>
    	<span class="visually-hidden">Next</span>
  		</button>
	</div>
	

	<div class="container">
		<div class="row"></div>
		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
			<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>

	</div>

{% endblock %}
